{{ define "main" }}
{{ partial "breadcrumb.html" . }}
<main class="container pt-5">
    <div class="row">
        <div class="col-md-9">
            {{ .Content }}
            <ul class="list-group list-group-flush">
                {{ range .Paginator.Pages }}
                <li class="list-group-item px-0">
                    <time class="float-right">{{ .Date.Local.Format "2006-01-02" }}</time>
                    <a href="{{.Permalink}}">{{.Title}}</a>
                </li>
                {{ end }}
            </ul>
            {{ template "_internal/pagination.html" . }}
        </div>
        <div class="col-md-3">
            {{ partial "section_menu.html" . }}
        </div>
    </div>
</main>
{{ end }}