{{ define "main" }}
<main aria-role="main">

  {{ partial "carousel.html" . }}
  {{ partial "block-three-cols.html" .Params.center_info }}

  <div class="recent-blocks py-5 my-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          {{ partial "recent_block.html" .Params.recents.notice }}
        </div>
        <div class="col-lg-6">
          {{ partial "recent_block.html" .Params.recents.news }}
        </div>
      </div>
    </div>
  </div>

  {{ partial "showoff/four-panes.html" . }}

  {{ $test := dict "photo_url" "/images/uploads/peng034.png" "photo_direction" "left" "message_direction" "right" "message_url" "/allim/notices/1" }}
  {{ partial "showoff/photo-half-message.html" $test }}

</main>
{{ end }}
