
<div class="four-panes container">
    <ul class="row clearfix list-unstyled">
        <li class="col-md-3">
            <a href="/">
                <span class="txt_box">
                    <span class="txt_01">유산기부 후원자를 위한</span>
                    <span class="txt_02">헤리티지 클럽</span>
                </span>
            </a>
        </li>
        <li class="col-md-3">
            <a href="/">
                <span class="txt_box">
                    <span class="txt_01">후원을 넘어 가치를 실현하는</span>
                    <span class="txt_02">필란트로피클럽</span>
                </span>
            </a>
        </li>
        <li class="col-md-3">
            <a href="/">
                <span class="txt_box">
                    <span class="txt_01">더불어 사는 세상을 위해</span>
                    <span class="txt_02">홍보대사</span>
                </span>
            </a>
        </li>
        <li class="col-md-3">
            <a href="/">
                <span class="txt_box">
                    <span class="txt_01">기아대책과</span>
                    <span class="txt_02">함께하는 교회</span>
                </span>
            </a>
        </li>
    </ul>
</div>

<style>
.four-panes ul li {
    float: left;
    height: 420px;
    position: relative;
    transition: all 0.3s;
}
.four-panes ul li:hover a {
    top: -20px;
    box-shadow: 20px 20px 15px rgba(0,0,0,.12);
}
.four-panes ul li:nth-child(1) a {
    background: url(https://www.kfhi.or.kr/asset/images/main/renewal/sec_06_img_01.jpg) 0 0 no-repeat;
}
.four-panes ul li:nth-child(2) a {
    background: url(https://www.kfhi.or.kr/asset/images/main/renewal/sec_06_img_02.jpg) 0 0 no-repeat;
}
.four-panes ul li:nth-child(3) a {
    background: url(https://www.kfhi.or.kr/asset/images/main/renewal/sec_06_img_03.jpg) 0 0 no-repeat;
}
.four-panes ul li:nth-child(4) a {
    background: url(https://www.kfhi.or.kr/asset/images/main/renewal/sec_06_img_04.jpg) 0 0 no-repeat;
}

.four-panes ul li a {
    display: block;
    width: 284px;
    height: 420px;
    position: relative;
    top: 0;
    transition: all .3s;
}

.four-panes ul li a .txt_box {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 30px;
    z-index: 1;
    transition: all .3s;
}

.four-panes ul li a .txt_01 {
    font-size: 18px;
}
.four-panes ul li a span {
    display: block;
    line-height: 32px;
    color: #fff;
    text-align: center;
}
.four-panes ul li a .txt_02 {
    font-size: 24px;
    font-weight: 700;
}

.four-panes ul li:hover a {
    top: -20px;
    box-shadow: 20px 20px 15px rgba(0,0,0,.12);
}
.four-panes ul li:hover a:after {
    opacity: .7;
}
.four-panes ul li a:after {
    content: "";
    display: block;
    width: 100%;
    height: 420px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #72a853;
    opacity: 0;
}
.four-panes ul li:hover a .txt_box {
    bottom: 210px;
}
.four-panes ul li:hover .txt_02:after {
    display: block;
}
.four-panes ul li a .txt_02:after {
    content: "";
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: url(https://www.kfhi.or.kr/asset/images/main/renewal/ico_01.png) center center no-repeat #fff;
    position: absolute;
    left: 50%;
    top: 80px;
    margin-left: -20px;
}
</style>