{{ range . }}

<div class="section bg-light p-5">
    <div class="showoff--photo-half-message container text-{{ if .photo_left }}right{{ else }}left{{ end }}" style="background: url('{{ .photo_url }}') {{ if .photo_left }}left{{ else }}right{{ end }} 0px no-repeat">
        <div class="block--message">
            <a href="{{ .message_url }}">
                <p class="block--message--title">{{ .message_title | safeHTML }}</p>
                <p class="block--message--description">
                    {{- .message_description | safeHTML -}}
                </p>
            </a>
            <a href="{{ .message_url }}" class="btn btn-light">자세히 보기</a>
        </div>
    </div>
</div>
{{ end }}
<style>
.showoff--photo-half-message .block--message {
    display: inline-block;
    width: 620px;
    height: 350px;
    background-color: #fff;
    text-align: center;
    box-shadow: 30px 30px 30px rgba(0,0,0,.1);
}
.showoff--photo-half-message .block--message .block--message--title {
    padding: 50px 0 20px;
    font-size: 30px;
    line-height: 44px;
    color: #2e2e2e;
    font-weight: 300;
    letter-spacing: -0.025em;
}
.showoff--photo-half-message .block--message .block--message--description {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 34px;
    color: #2e2e2e;
    letter-spacing: -0.025em;
    white-space: pre;
}
.showoff--photo-half-message a:hover {
    text-decoration: none;
}
</style>