{{/* 
showoff/photo-half-message
--
photo_url
photo_direction
message_direction
message_url 
*/}}
<div class="section bg-light p-5">
    <div class="showoff--photo-half-message container text-{{ .message_direction }}" style="background: url('{{ .photo_url }}') {{ .photo_direction }} 0px no-repeat;">
        <div class="block--message">
            <a href="{{ .message_url }}">
                <p class="title"><strong>투명한</strong> 재정보고와 운영으로<br>정직하게 후원금을 사용합니다.</p>
                <p class="text">기아대책은 미션, 비전, 3대 경영방침, 7대 핵심가치를
                    토대로 중장기 전략 수립/사업수행/점검/분석까지
                    체계적인 경영관리 프로세스를 운영합니다.</p>
            </a>
            <a href="{{ .message_url }}" class="btn btn-light">자세히 보기</a>
        </div>
    </div>
</div>
<style>
.showoff--photo-half-message .block--message {
    display: inline-block;
    width: 620px;
    height: 350px;
    background-color: #fff;
    text-align: center;
    box-shadow: 30px 30px 30px rgba(0,0,0,.1);
}
.showoff--photo-half-message .block--message .title {
    padding: 50px 0 20px;
    font-size: 30px;
    line-height: 44px;
    color: #2e2e2e;
    font-weight: 300;
    letter-spacing: -0.025em;
}
.showoff--photo-half-message .block--message .text {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 34px;
    color: #2e2e2e;
    letter-spacing: -0.025em;
    white-space: pre;
}
</style>