@import "custom";
@import "~bootstrap";

dd {
    margin-bottom: .2rem;
}

.body {
    h3 {
        margin-top: 3rem;
    }
    img {
        max-width: 100%;
        border: 1px solid $light;
    }
}

.breadcrumb {
    .breadcrumb-item+.breadcrumb-item::before {
        color: white;
        content: "•";
    }
    .breadcrumb-item:first-child,
    .breadcrumb-item:last-child,
    .breadcrumb-item:first-child+.breadcrumb-item::before {
        display: none;
    }
    
}


ul {
    padding-left: 1.4rem;
    line-height: 2;
}

.about,
.consulting {
    h3, h4, h5 {
        color: $green;
    }
    h3 {
        font-size: 1.4rem;
        border-left: .3rem solid $green;
        padding-left: .5rem;
    }
    img {
        margin: 1rem 0;
        border: 1px solid #ccc; 
    }
}

.navbar--main {
    .nav-item{
        &.active > a {
            color: $primary;
        }
        &.leaf {
            line-height: 3;
            a {
                color: rgba(0,0,0,.5);
            }
        }
    }
}

.workshops {
    .workshop {
        &.closed h3 a {
            color: $text-muted !important;
        }
    }
}

.card.workshop {
    &.closed a {
        color: $text-muted !important;
    }
}
