<form id="consulting_request">
    <fieldset class="border p-3 my-3">
        <legend class="px-3" style="width: auto;">상담신청자 정보</legend>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="consultee_name" class="sr-only">성명</label>
                <input type="text" class="form-control" id="consultee_name" name="consultee_name" placeholder="성명: 홍길동">
            </div>
            <div class="form-group col-lg-6">
                <label for="consultee_password" class="sr-only">비밀번호</label>
                <input type="text" class="form-control" id="consultee_password" name="consultee_password" placeholder="비밀번호 (수정, 삭제 시 필요, 4 글자 이상)">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="consultee_email" class="sr-only">이메일</label>
                <input type="email" class="form-control" id="consultee_email" name="consultee_email" placeholder="이메일주소 honggildong@gmail.com">
            </div>
            <div class="form-group col-lg-6">
                <label for="consultee_phone" class="sr-only">전화번호</label>
                <input type="text" class="form-control" id="consultee_phone" name="consultee_phone" placeholder="연락받을 수 있는 전화번호 010-000-0000/02-000-0000">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="consultee_email" class="sr-only">성별</label>
                <input type="email" class="form-control" id="consultee_email" name="consultee_email" placeholder="honggildong@gmail.com">
            </div>
            <div class="form-group col-md-4">
                <label for="consultee_phone" class="sr-only">연령대</label>
                <input type="text" class="form-control" id="consultee_phone" name="consultee_phone" placeholder="010-000-0000/02-000-0000">
            </div>
            <div class="form-group col-md-4">
                <label for="consultee_phone" class="sr-only">거주지</label>
                <input type="text" class="form-control" id="consultee_phone" name="consultee_phone" placeholder="010-000-0000/02-000-0000">
            </div>
        </div>
    </fieldset>
    <fieldset class="border p-3 my-3">
        <legend class="px-3" style="width: auto;">상담 요청 정보</legend>
        <div class="form-group">
            <label for="categories">상담유형</label>
            <select id="categories" name="categories" class="form-control w-25">
                {{ range $index, $category := $.Page.Params.consulting_category }}
                <option value="{{ $category }}" {{ if eq $index 0 }} selected{{ end }}>{{ $category }}</option>
                {{ end }}
            </select>
        </div>
        <div class="form-group">
            <label for="context">상담 및 문제 내용</label>
            <textarea class="form-control" id="context" name="context" rows="6"></textarea>
        </div>
    </fieldset>
    <fieldset class="border p-3 my-3">
        <legend class="px-3" style="width: auto;">노동 환경</legend>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="company_name" class="sr-only">사업장명</label>
                <input type="text" class="form-control" id="company_name" name="company_name" placeholder="사업장명">
            </div>
            <div class="form-group col-lg-6">
                <label for="company_owner" class="sr-only">대표자명</label>
                <input type="text" class="form-control" id="company_owner" name="company_owner" placeholder="대표자명">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="company_contacts" class="sr-only">연락처</label>
                <input type="text" class="form-control" id="company_contacts" name="company_contacts" placeholder="연락처">
            </div>
            <div class="form-group col-lg-6">
                <label for="company_region" class="sr-only">소재지</label>
                <input type="text" class="form-control" id="company_region" name="company_region" placeholder="소재지(은평구, 기타, 무응답)">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-4">
                <label for="company_size" class="sr-only">근로자수</label>
                <select id="company_size" name="company_size" class="form-control w-75">
                    <option selected>근로자수</option>
                    {{ range $index, $size := $.Page.Params.labor_number_of_workers }}
                    <option value="{{ $size }}">{{ $size }}</option>
                    {{ end }}
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label for="labor_sector" class="sr-only">업종</label>
                <select id="labor_sector" name="labor_sector" class="form-control w-75">
                    <option selected>업종</option>
                    {{ range $index, $category := $.Page.Params.labor_sector }}
                    <option value="{{ $category }}">{{ $category }}</option>
                    {{ end }}
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label for="company_years" class="sr-only">운영기간</label>
                <input type="text" class="form-control" id="company_years" name="company_years" placeholder="운영기간: 4년">
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="form-group row">
            <label for="contract" class="col-sm-3 col-form-label">근로계약서 작성여부</label>
            <div class="col-sm-9">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="contract" id="contract0" value="작성">
                    <label class="form-check-label ml-1 mr-3 my-1" for="contract0">작성</label>
                    <input class="form-check-input" type="radio" name="contract" id="contract1" value="미작성">
                    <label class="form-check-label ml-1 mr-3 my-1" for="contract1">미작성</label>
                    <input class="form-check-input" type="radio" name="contract" id="contract3" value="일부작성">
                    <label class="form-check-label ml-1 mr-3 my-1" for="contract3">일부작성</label>
                </div>
                <div class="form-check form-check-inline">
                    <p class="mt-3 mr-3">상호 날인 후 각 1부씩 나눠 갖으셨습니까?</p>
                    <input class="form-check-input" type="radio" name="contract" id="contract2" value="교부">
                    <label class="form-check-label ml-1 mr-3 my-1" for="contract2">교부</label>
                    <input class="form-check-input" type="radio" name="contract" id="contract2" value="미교부">
                    <label class="form-check-label ml-1 mr-3 my-1" for="contract2">미교부</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="rule" class="col-sm-3 col-form-label">취업규칙 작성여부</label>
            <div class="col-sm-9">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="employment_rules" id="employment_rules0" value="작성">
                    <label class="form-check-label ml-1 mr-3 my-1" for="employment_rules0">작성</label>
                    <input class="form-check-input" type="radio" name="employment_rules" id="employment_rules1" value="미작성">
                    <label class="form-check-label ml-1 mr-3 my-1" for="employment_rules1">미작성</label>
                    <input class="form-check-input" type="radio" name="employment_rules" id="employment_rules2" value="일부작성">
                    <label class="form-check-label ml-1 mr-3 my-1" for="employment_rules2">일부작성</label>
                </div>
                <div class="form-check form-check-inline">
                    <p class="mt-3 mr-3">취업규칙이 사업장에 게시되어 있습니까?</p>
                    <input class="form-check-input" type="radio" name="employment_rules" id="employment_rules3" value="게시">
                    <label class="form-check-label ml-1 mr-3 my-1" for="employment_rules3">게시</label>
                    <input class="form-check-input" type="radio" name="employment_rules" id="employment_rules4" value="미게시">
                    <label class="form-check-label ml-1 mr-3 my-1" for="employment_rules4">미게시</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="rule" class="col-sm-3 col-form-label">4대보험 가입여부</label>
            <div class="col-sm-9">
                <div class="form-check form-check-inline">
                    {{ range $index, $insurance := $.Page.Params.insurances }}
                    <input class="form-check-input" type="radio" name="social_insurance" id="insurance{{$index}}" value="{{$insurance}}">
                    <label class="form-check-label ml-1 mr-3 my-1" for="insurance{{$index}}">{{$insurance}}</label>
                    {{ end }}
                </div>
            </div>
        </div>
    </fieldset>
    <button type="button" id="consulting-request-submit" class="btn btn-primary text-white">신청하기</button>
</form>
