.vagrant
# Hugo default output directory
/homepage/public
/homepage/resources

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

node_modules
.vscode
*.log

# directus
directus/.github
directus/bin
directus/config/*
!directus/config/_example.php
directus/migrations
directus/public/admin
directus/public/extensions/core
directus/src
directus/vendor
directus/*.md
directus/composer.json
