{{ define "main" }}
<main class="container">
    {{ partial "breadcrumb.html" . }}
    <h1 class="border-bottom py-3 mb-3">{{ .Title }}</h1>
    {{ partial "references/terms-nav.html" . }} {{ .Content }} {{ $faqs := .Site.Data.faqs }}
    <ul class="list-group list-group-flush">
        {{ range $category, $items := $faqs }} {{ range $items }}
        <li class="list-group-item">
            <a href="#">{{ .category }} - {{ .title }}</a> {{ .body | markdownify }}
        </li>
        {{ end }} {{ end }}
    </ul>
</main>
{{ end }}