{{ define "main" }}
<main class="container">
    {{ partial "breadcrumb.html" . }}
    <h1 class="border-bottom py-3 mb-3">{{ .Title }}</h1>
    {{ partial "references/terms-nav.html" . }} {{ .Content }} {{ $faqs := .Site.Data.faqs }}
    <ul class="list-group list-group-flush mt-3 border-top">
        {{ range $category, $items := $faqs }} {{ range $index, $item := $items }}
        <li class="list-group-item">
            <button type="button" class="btn float-right" data-toggle="modal" data-target="#modal-{{ $index }}">
                <svg class="bi bi-question-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"/>
                </svg>
            </button>
            <a class="btn btn-light" href="/consulting/references/{{ $category}}">{{ $item.category }}</a>
            <a href="#" class="d-inline-block mt-2" data-toggle="modal" data-target="#modal-{{ $index }}">{{ $item.title | truncate 60 "..." }}</a>
            <div id="modal-{{ $index }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ $item.title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ $item.body | markdownify }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                            <a class="btn btn-primary" href="/consulting/request/">온라인 상담하기</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </li>
        {{ end }} {{ end }}
    </ul>
</main>
{{ end }}