{{ define "main" }}
{{ partial "breadcrumb.html" . }}
<div class="container container--workshop">
    <div class="row">
        <div class="col-md-9">
            <h1 class="border-bottom pb-3 my-3" id="workshop-title">{{ .Title }}</h1>
            <header>
                <ul class="actions list-inline text-righ float-right">
                    <li class="list-inline-item">
                        <a href="#" data-toggle="modal" data-target="#authModal" data-action="check" class="btn btn-sm btn-primary text-white mx-1">신청확인</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" data-toggle="modal" data-target="#authModal" data-action="update" class="btn btn-sm btn-info mx-1">수정</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" data-toggle="modal" data-target="#authModal" data-action="delete" class="btn btn-sm btn-danger mx-1">취소</a>
                    </li>
                </ul>
                <date class="d-block mb-5">{{ .Date.Local.Format "2006-01-02" }}</date>
            </header>
            {{ $workshop := .Page.Params.workshop }}
            <div class="row">
                <div class="col-md-4 py-3 border-top">
                    <strong>일시</strong>
                    <p>{{ $workshop.일시 }}</p>
                </div>
                <div class="col-md-4 py-3 border-top">
                    <strong>장소</strong>
                    <p>{{ $workshop.장소 }}</p>
                </div>
                <div class="col-md-4 py-3 border-top">
                    <strong>대상</strong>
                    <p>{{ $workshop.대상 }}</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-4 py-3 border-top">
                    <strong>문의</strong>
                    <p>{{ $workshop.문의 }}</p>
                </div>
                {{ if .Params.status }}
                <div class="col-md-4 py-3 border-top">
                    <strong>신청기간</strong>
                    <p>{{ $workshop.신청기간 }}</p>
                </div>
                {{ end }}
                <div class="col-md-4 py-3 border-top">
                    <strong>상태</strong>
                    <p>{{ if .Params.status }}<a class="btn btn-primary text-white" href="#apply-workshop">진행 중</a>{{ else }}신청 마감{{ end }}</p>
                </div>
            </div>

            <div class="body">
                {{ .Content }}
                {{ if .Params.status }}
                <div class="form mt-5">
                    {{ partial "workshops/form-apply.html" (dict "context" . "action_type" "create") }}
                </div>
                {{ end }}
                <footer class="mt-5 pt-3 border-top">
                    <a href="/workshops" class="float-right btn btn-primary text-white">목록으로</a>
                </footer>
            </div>
        </div>
        <div class="col-md-3 text-right">
            {{ partial "section_menu.html" }}
        </div>
    </div>

    {{ partial "modal/auth.html"  (dict "collection" "eplabor_workshop_participants" "item_id" .Title ) }}
    {{ partial "modal/update-participation-form.html" . }}
    
</div>
{{ end }}
{{ define "addscripts" }}
<script src="/assets/workshop.js"></script>
{{end}}
