{{ define "main" }}
<div class="container">
    <h1 class="border-bottom pb-3 my-3">{{ .Title }}</h1>
    {{ .Date.Format "2006-01-02" }}
    {{ $workshop := .Page.Params.workshop }}
    <img src="{{ $workshop.이미지 }}" class="d-block my-3 img-fluid" />
    <dl class="row no-gutters mt-4">
    {{ range $key, $data := $workshop }}
        {{ if ne $key "이미지" }}
        <dt class="col-sm-1">{{ $key }}</dt>
        <dd class="col-sm-11">{{ $data }}</dd>
        {{ end }}
    {{ end }}
    </dl>
    <div class="body w-75">
        {{ .Content }}
    </div>
    <div class="form w-75 mt-5">
        {{ partial "workshops/form-apply.html" . }}
    </div>
</div>
{{ end }}
