{{ $types := .Site.Data.board_types }}
<nav aria-label="breadcrumb" class="bg-primary">
    <div class="container">
        <ol class="float-right breadcrumb pt-4 px-0 bg-transparent">
            {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
        </ol>
        <h1 class="text-white py-3">
            {{ with index $types .Type }}{{ . }}{{ else }}{{.Title}}{{ end }}
        </h1>
    </div>
</nav>
{{ define "breadcrumbnav" }}
    {{ if .p1.Parent }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
    {{ else if not .p1.IsHome }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
    {{ end }}
    <li class="breadcrumb-item {{ if eq .p1 .p2 }} active{{ end }}">
        <a class="text-white" href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
    </li>
{{ end }}
