<footer class="bg-light py-4 mt-5">
    <div class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <h5>{{ .Site.Title }}<small class="ml-3">{{ .Site.Data.eplabor.tagLine }}</small></h5>
        <dl class="row no-gutters mt-4">
            {{ range $key, $info := .Site.Data.eplabor.footer }}
            <dt class="col-sm-1">{{ $key }}</dt>
            <dd class="col-sm-11">{{ $info }}</dd>
            {{ end }}
        </dl>
        <ul class="list-inline text-right">
            <li class="list-inline-item"><a href="#">개인정보처리방침</a></li>
            <li class="list-inline-item"><a href="#">이용약관</a></li>
        </ul>
    </div>
</footer>

<script src="//identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Nanum Gothic', 'Roboto']
    }
  });
</script>
<script src="/assets/global.js"></script>
