<section id="partners" class="container py-5">
    <h2 class="text-highlight py-3">유관 기관</h2>
    <div class="row no-gutters">
        <div class="col-md-4">
            <h3 class="py-3">{{ .district.title }}</h3>
            <ul class="list-unstyled">
                {{ range .district.orgs }}
                <li><a href="{{ .url }}">{{ .title }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div class="col-md-4">
            <h3 class="py-3">{{ .public.title }}</h3>
            <ul class="list-unstyled">
                {{ range .public.orgs }}
                <li><a href="{{ .url }}">{{ .title }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div class="col-md-4">
            <h3 class="py-3">{{ .seoul.title }}</h3>
            <ul class="list-unstyled">
                {{ range .seoul.orgs }}
                <li><a href="{{ .url }}">{{ .title }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>