<div class="block--recent{{ with .type }} {{ (printf "block--recent--%s" .) }}{{ end }} bg-white p-4">
    {{ $icon := .icon }}
    <small class="d-block mt-3 float-right"><a href="/allim/{{ .type }}{{ if eq .type "notice" }}s{{ end }}">더 보기</a></small>
    {{ with .title }}
        <h3 class="py-3">
            {{ with $icon }}<span class="icon mr-2">{{ readFile (printf "/static/icons/%s.svg" .) | safeHTML }}</span>{{ end }}
            {{ . }}
        </h3>
    {{ end }}
    <ul class="list-group list-group-flush">
    {{ range $post := first 3 ( where site.RegularPages.ByDate.Reverse "Type" .type ) }}
        <li class="list-group-item">
            <time class="float-right">{{ .Date.Local.Format "2006-01-02" }}</time>
            <a href="{{ $post.Permalink }}">{{ $post.Title | truncate 24 }}</a>
        </li>
    {{ end }}
    </ul>

</div>