
{{ $currentPage := . }}
{{ $indexPage := .Site.GetPage (printf "/%s/_index.md" $.Section) }}

<h3 class="pl-3">{{ with $indexPage }}{{ .Title }}{{ end }}</h3>
<ul class="list-group list-group-flush border-top">
{{ range .Site.Menus.main }}
    {{ if eq $currentPage.Section .Identifier }}
        {{ range .Children }}
        <li class="list-group-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
            <a href="{{ .URL }}"{{ if $currentPage.IsMenuCurrent "main" . }} class="text-white"{{ end }}>{{ .Name }}</a>
        </li>
        {{ end }}
    {{ end }}
{{ end }}
</ul>
