
<img class="w-75" src="/images/logo.jpg" alt="{{ .Site.Title }} 로고" />
<p class="my-3">은평구노동자종합지원센터의 심볼은 민(시민), 관(정부), 노(노동자) 세 단위의 협력과 소통을 지향하는 의미에서 세 개의 동그라미로 얼굴을 담았고, 때론 듬직한 몸통이 되고 때론 단단한 어깨동무가 되어 함께 걸어가겠다는 의지를 표현했습니다.</p>
<ul class="list-inline">
    <li class="list-inline-item">
        <a href="/images/logo.svg" class="btn btn-highlight text-white">인쇄용 파일 ai 다운로드</a>
    </li>
    <li class="list-inline-item">
        <a href="/images/logo.jpg" class="btn btn-highlight text-white">이미지 파일 jpg 다운로드</a>
    </li>
</ul>
