{{ define "main" }}
{{ partial "breadcrumb.html" . }}
<main class="container pt-5 workshops">
    {{ partial "workshops/status-nav.html" . }}
    {{ .Content }}
    {{ $paginator := .Paginate (where (where .Site.RegularPages "Type" "workshop") "Params.status" .Params.status) 10 }}
    <ul class="row list-unstyled">
        {{ range .Paginator.Pages }}{{ $workshop := .Params.workshop }}
        <li class="col-md-6 my-3">
            <div class="workshop card p-3 bg-light {{ if .Params.status }} open{{ else }} closed{{ end }}">
                <h3 class="pb-3"><a href="{{.Permalink}}">{{.Title}}</a></h3>
                <ul class="list-inline float-right my-2">
                    {{ if .Params.status }}<li class="list-inline-item"><time>{{ $workshop.신청기간 }}</time></li>{{ end }}
                    <li class="list-inline-item">{{ if .Params.status }}<a class="btn btn-sm btn-primary text-white" href="{{ .Permalink }}#apply-workshop">진행 중</a>{{ else }}<span class="btn btn-sm btn-dark text-white">마감</span>{{ end }}</li>
                </ul>
                <div class="row">
                    <div class="col-md-4 py-3 border-top">
                        <strong>일시</strong>
                        <p>{{ $workshop.일시 }}</p>
                    </div>
                    <div class="col-md-4 py-3 border-top">
                        <strong>장소</strong>
                        <p>{{ $workshop.장소 }}</p>
                    </div>
                    <div class="col-md-4 py-3 border-top">
                        <strong>대상</strong>
                        <p>{{ $workshop.대상 }}</p>
                    </div>
                </div>
            </div>
        </li>
        {{ end }}
    </ul>
    {{ template "_internal/pagination.html" . }}
</main>
{{ end }}