{{ define "main" }}
{{ partial "breadcrumb.html" . }}
<main class="container pt-5">
    {{ partial "workshops/status-nav.html" . }}
    {{ .Content }}
    {{ $paginator := .Paginate (where .Site.RegularPages "Params.status" .Params.status) 10 }}
    <ul class="list-group list-group-flush">
        {{ range .Paginator.Pages }}
        <li class="list-group-item">
            <time class="float-right">{{ .Date.Format "2006-01-01" }}</time>
            <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
        {{ end }}
    </ul>
    {{ template "_internal/pagination.html" . }}
</main>
{{ end }}